flask
mwoauth==0.3.3
flask-mwoauth
requests_oauthlib
requests
pyyaml
pymysql
flask-sqlalchemy
flask-migrate
flask-wtf
wtforms-components
flask-jsonlocale
langcodes
language-data
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability